<div class="contact-us" id="contact-us">
  <div class="image-container">
    <img
      src="../../../assets/images/contact-us/contact-us-1.png"
      alt="contact-us"
    />
  </div>
  <div class="content">
    <div class="heading">
      <h1>Contact <b>Us</b></h1>
    </div>
    <div class="cards">
      <div pRipple class="card shadow-3">
        <h2>Balmukund Glory</h2>
        <p>Near, Randesan Metero Station Cross Road</p>
        <p>Randesan, Gandhinagar 382007</p>
        <p>
          <a href="https://maps.app.goo.gl/xaNuEj3ixaBcePaSA" target="_blank">
            <i class="pi pi-map-marker"></i>Find Us on Maps
          </a>
        </p>
      </div>
      <div pRipple class="card shadow-3">
        <h2>Get In Touch</h2>
        <p><i class="pi pi-phone"></i>+91 8128889100</p>
        <a href="mailto:office.keshavcorp@gmail.com">
          <p><i class="pi pi-envelope"></i>office.keshavcorp&#64;gmail.com</p>
        </a>
        <a
          href="https://www.instagram.com/balmukund_group/"
          target="blank"
          class="instagram"
          ><i class="pi pi-instagram"></i
        ></a>
        <a
          href="https://facebook.com/balmukund_group"
          target="blank"
          class="facebook"
          ><i class="pi pi-facebook"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- <img src="../../../assets/images/contact-us/wave.svg" alt="" /> -->
