.contact-us {
    padding: 50px;
    position: relative;
}

.heading {
    margin: 0;
}

.heading h1{
    width: 200px;
}

.contact-container {
    display: flex;
    margin: 20px auto 0;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 40%;
}

img {
    aspect-ratio: 1/1;
    width: 40%;
    object-fit: fill;
}

a {
    text-decoration: none;
    color: #142D4C;
    cursor: pointer;
}

.content {
    display: flex;
    width:35%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
}

.cards {
    display: flex;
}

.p-ripple .p-ink {
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}

.card {
    text-align: center;
    width: 100%;
    min-height: 233px;
    min-width: 310px;
    padding: 20px;
    border-radius: 7px;
}

i {
    margin: 0 10px;
}

h2,
p {
    color: #142D4C;
}

.pi-instagram,
.pi-facebook {
    font-size: 1.5rem;
}

.pi-facebook:hover {
    color: #316FF6
}

.pi-instagram:hover {
    color: #cc2366;
}

@media (max-width: 915px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .card {
        width: 400px;
    }

    .content {
        justify-content: center;
        width: 100%;
    }

    .image-container {
        width: 50%;
    }

    img {
        width: 70%;
    }
}

@media (max-width: 630px) {
    .content {
        width: 100%;
    }

    .image-container {
        width: 50%;
    }

    img {
        width: 100%;
    }
}

