.header {
    margin: 0 50px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputs {
    padding:  25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
}

span, .buttons {
    margin: 10px 0;
}

.card {
    margin: 50px;
    border: 1px solid black;
}

:host ::ng-deep .p-button {
    background: #142D4C;
    border: none;
    column-gap: 5%;
}

:host ::ng-deep .p-inputtext, .p-calender{
    column-gap: 5%;
    width: 250px;
}

input:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #142D4C;
  }
  
  :host ::ng-deep .p-button {
    background: #142D4C;
    border: none;
  }
  
  :host ::ng-deep .p-button:focus {
    box-shadow: none;
  }