.nav-menu {
  height : 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7); 
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  column-gap: 2%;
 }

 .nav-menu.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

 .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }

 .logo {
  width: 20%;
 }

 img {
  aspect-ratio: 16/9;
  width: 180px;
  object-fit: contain;
 }

 li {
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
