.nav-menu {
  height : 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7); 
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  column-gap: 2%;
 }

 .nav-menu.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

 .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }

 .logo {
  width: 20%;
 }

 img {
  aspect-ratio: 16/9;
  width: 160px;
  object-fit: contain;
 }

 li {
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:host ::ng-deep .p-button {
  background: #142D4C;
  border: none;
  border: 1px solid #142D4C;
}

:host ::ng-deep .p-button:focus {
  box-shadow: none;
}

input:hover {
  border: 1px solid #142D4C;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: #142D4C;
}

:host ::ng-deep .p-input-icon-right > .p-inputtext {
  width: 245px;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1rem 2rem 2rem 2rem;
}

:host ::ng-deep .p-menu.p-menu-overlay {
  width: 210px;
}