<div class="nav-menu glass" [class.hidden]="!isHeaderVisible" id="navbar">
  <div class="logo">
    <a><img src="../../../assets/images/logo/Glory_Logo.png" alt="" /></a>
  </div>
  <div class="links">
    <li>
      <a
        routerLink="enquiries"
        pRipple
        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
      >
        <i class="pi pi-bookmark mr-2"></i>
        <span class="font-medium">Enquiries</span>
      </a>
    </li>
    <li>
      <a
        routerLink="reports"
        pRipple
        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
      >
        <i class="pi pi-chart-line mr-2"></i>
        <span class="font-medium">Reports</span>
      </a>
    </li>
    <li>
      <a
        pRipple
        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
      >
        <span class="user-icon"
          ><i class="pi pi-user" style="font-size: 1.25rem"></i
        ></span>
      </a>
    </li>
  </div>
</div>
