.nav-menu {
  height : 12vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7); 
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  column-gap: 2%;
 }

 .nav-menu.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

 .links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }

 .logo {
  width: 20%;
 }

 img {
  aspect-ratio: 16/9;
  width: 180px;
  object-fit: contain;
 }

 li {
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color:  #3C4142;
  cursor: pointer;
  font-size: 2.px;
}


.sidebar-links {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}

:host ::ng-deep .p-button .menu-button {
  margin: 10px 0;
    background: white;
}

:host ::ng-deep .p-button .pi {
  font-size: 1.5rem;
  color:#142D4C;
  padding: 0px 7px;
}

.p-inputtext:enabled:focus, .p-inputtext:enabled:hover {
  border-color: #3C4142;
  box-shadow: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: gray;
  transition: width .3s;
  position: relative;
  bottom: -5px;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.p-field {
  margin: 20px 0 10px 0;
}

:host ::ng-deep .p-dialog.p-dialog-titlebar {
  padding: 1rem;
}