<div class="nav-menu glass" [class.hidden]="!isHeaderVisible" id="navbar">
  <div class="logo">
    <a routerLink="/"
      ><img src="../../../assets/images/logo/Glory_Logo.png" alt=""
    /></a>
  </div>
  <div class="links">
    <li>
      <a (click)="scrollToSection('about-us')" class="nav-link"
        >About The Brand</a
      >
    </li>
    <li>
      <a (click)="scrollToSection('about-project')" class="nav-link"
        >About Project</a
      >
    </li>
    <li>
      <a (click)="scrollToSection('amenities')" class="nav-link">Amenities</a>
    </li>
    <li>
      <a (click)="scrollToSection('gallery')" class="nav-link">Gallery</a>
    </li>
    <li>
      <a (click)="scrollToSection('enquiry')" class="nav-link">E-Brochure</a>
    </li>
    <li>
      <a (click)="scrollToSection('contact-us')" class="nav-link">Contact Us</a>
    </li>
    <!-- <li><a href="#about-us" class="nav-link">About The Brand</a></li>
    <li><a href="#about-project" class="nav-link">About Project</a></li>
    <li><a href="#amenities" class="nav-link">Amenities</a></li>
    <li><a href="#gallery" class="nav-link">Gallery</a></li>
    <li><a (click)="showDialog()" class="nav-link">E-Brochure</a></li>
    <li><a href="#contact-us" class="nav-link">Contact Us</a></li> -->
  </div>
  <div class="sidebar-button">
    <p-button
      type="button"
      class="mr-2"
      (click)="sidebarVisible = true"
      [text]="true"
      severity="secondary"
      icon="pi pi-bars"
    >
    </p-button>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="w-20rem">
  <div class="sidebar-links">
    <li>
      <a (click)="showSidebar()" href="#about-us">About The Brand</a>
    </li>
    <li>
      <a (click)="showSidebar()" href="#about-project">About Project</a>
    </li>
    <li>
      <a (click)="showSidebar()" href="#amenities">Amenities</a>
    </li>
    <li>
      <a (click)="showSidebar()" href="#gallery">Gallery</a>
    </li>
    <li><a (click)="showSidebar()" href="#enquiry">E-Brochure</a></li>
    <li>
      <a (click)="showSidebar()" href="#contact-us">Contact Us</a>
    </li>
  </div>
</p-sidebar>
