.find-us {
    padding: 0px 50px 30px 50px;
  }
  
  h1 {
    width: 250px;
    color : #142D4C;
  }

  h2 {
    color : #142D4C;
  }

  .heading{
    margin: 0px 0px 30px;
  }

  .map {
    width: 60%;
    height: 100%;
  }
  
  iframe {
    width: 100%;
    height: 500px;
  }

  .find-us-container {
    display: flex;
  }

  .enquiry {
    background-color: #f1f1f1;
    width: 40% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  input {
    width: 350px;
  }

  input:hover {
    color: #142D4C;
  }

  .download-brochure-button{
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    background-color: #3C4142;
    cursor: pointer;
  }
  
  :host ::ng-deep .p-button {
    width: 100%;
    margin: 10px 0;
    background: #142D4C;
    border: none;
  }