.enquiry {
  padding-top: 50px;
}

h1 {
  width: 250px;
  color: #142D4C;
}

h2 {
  color: #142D4C;
}

.heading {
  margin: 0px 0px 30px;
}

.map {
  width: 60%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 600px;
}

.find-us-container {
  display: flex;
}

.enquiry-container {
  background-color: #f1f1f1;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 100%;
}

input:hover {
  border: 1px solid #142D4C;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: #142D4C;
}

input[type="checkbox"] {
  width: 20px;
}

input[type="checkbox"]:checked {
  color: red;
}

:host ::ng-deep .p-button {
  width: 100%;
  margin: 20px 0;
  background: #142D4C;
  border: none;
}

:host ::ng-deep.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #142D4C;
  background: #142D4C;
  color: #f1f1f1;
}

:host ::ng-deep.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: #142D4C;
}

:host ::ng-deep.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin: 10px 0;
}

.checkbox-buttons {
  display: flex;
  width: 350px;
  margin: 10px 0;
  justify-content: space-evenly;
}

.invalid-message {
  color: red;
}

.p-invalid input {
  border-color: red !important;
}

.divider {
  display: none;
}

@media (max-width: 915px) {
  .find-us-container {
    flex-direction: column;
    align-items: center;
  }

  .map {
    width: 100%;
  }

  .enquiry-container {
    width: 100%;
  }

  .divider {
    display: block;
    width: 80%;
  }

  h2, :host ::ng-deep.p-button {
    margin: 30px 0;
  } 
}

@media (max-width: 480px) {
  iframe {
    height: 450px;
  }

  .divider {
    display: block;
    width: 90%;
  }
}