h3 {
    margin: 20px auto;
}

:host ::ng-deep .custom-scrolltop {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #142D4C;
}

:host ::ng-deep .p-scrolltop .p-icon {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 480px) {
    :host ::ng-deep .p-toast-top-right {
      top: 30px;
      left: 15px;
      min-height: 140px;
      width: 350px;
    }
    
    :host ::ng-deep .custom-scrolltop {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    :host ::ng-deep .p-scrolltop .p-icon {
        width: 1rem;
        height: 1rem;
    }
    
    /*   
    :host ::ng-deep .p-toast{
      width: 23rem;
    } */

      /* For changing color of the toast */
      /* .p-toast .p-toast-message.p-toast-message-info {
          background: rgba(219, 234, 254, 0.7);
          border: solid #3b82f6;
          border-width: 0 0 0 6px;
          color: #3b82f6;
      } */
  }
  