<div class="header">
  <div class="inputs shadow-3">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Name"
        [(ngModel)]="enquiryList.columnSearchValue.searchName"
      />
    </span>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Contact Number"
        [(ngModel)]="enquiryList.columnSearchValue.searchContactNumber"
      />
    </span>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Email"
        [(ngModel)]="enquiryList.columnSearchValue.searchEmail"
      />
    </span>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Occupation"
        [(ngModel)]="enquiryList.columnSearchValue.searchOccupation"
      />
    </span>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Address"
        [(ngModel)]="enquiryList.columnSearchValue.searchAddress"
      />
    </span>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Requirement"
        [(ngModel)]="enquiryList.columnSearchValue.searchRequirement"
      />
    </span>

    <span>
      <p-calendar
        [iconDisplay]="'input'"
        [showIcon]="true"
        placeholder="Start Date - End Date"
        [dateFormat]="'dd/mm/yy'"
        [readonlyInput]="true"
        [selectionMode]="'range'"
        [(ngModel)]="dateRange"
        (onSelect)="updateDateRange()"
      >
      </p-calendar>
    </span>

    <span>
      <p-button label="Search" (click)="getEnquiryList()"></p-button>
      <p-button label="Reset" (click)="onReset()"></p-button>
    </span>
  </div>
</div>

<div class="card">
  <p-table
    id="enquiriestable"
    [value]="enquiries"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Enquiries
        <p-button
          icon="pi pi-file"
          class="excel-button"
          (onClick)="exportexcel()"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="contactNumber">
          Contact Number<p-sortIcon field="contactNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="occupation">
          Occupation<p-sortIcon field="occupation"></p-sortIcon>
        </th>
        <th pSortableColumn="address">
          Address<p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="requirement">
          Requirement<p-sortIcon field="requirement"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate">
          Created Date<p-sortIcon field="createdDate"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-enquiry>
      <tr>
        <td>{{ enquiry.id }}</td>
        <td>{{ enquiry.name }}</td>
        <td>{{ enquiry.contactNumber }}</td>
        <td>{{ enquiry.email }}</td>
        <td>{{ enquiry.occupation }}</td>
        <td>{{ enquiry.address }}</td>
        <td>
          <p-tag
            [value]="enquiry.requirement"
            [style]="getColor(enquiry.requirement)"
          ></p-tag>
        </td>
        <td>{{ enquiry.createdDate }}</td>
        <td>
          <p-button
            icon="pi pi-times-circle"
            label="Delete"
            class="delete-btn"
            (click)="confirm($event, enquiry.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="(currentPage - 1) * pageSize"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 25, 50, 100, 500]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  />
</div>
<p-confirmDialog />
