<div class="container">
  <div class="inputs shadow-3">
    <div class="date-inputs">
      <label for="">Date Filter:</label>
      <span>
        <p-calendar
          [iconDisplay]="'input'"
          [showIcon]="true"
          placeholder="Start Date - End Date"
          [dateFormat]="'dd/mm/yy'"
          [readonlyInput]="true"
          [selectionMode]="'range'"
          [(ngModel)]="dateRange"
          [maxDate]="maxDate"
          (onSelect)="updateDateRange()"
        >
        </p-calendar>
      </span>
    </div>

    <div class="buttons">
      <span>
        <p-button label="Search" (click)="getEnquiriesData()"></p-button>
        <p-button label="Reset" (click)="onReset()"></p-button>
      </span>
    </div>
  </div>

  <div class="cards">
    <div pRipple class="card shadow-3">
      <div class="card-background"></div>
      <div class="card-content">
        <i class="pi pi-users" style="font-size: 2.5rem"></i>
        <div class="card-count">
          <p class="m-0 card-title">Total Enquiries</p>
          {{ this.totalEnquiries }}
        </div>
      </div>
    </div>

    <div pRipple class="card shadow-3">
      <div class="card-background"></div>
      <div class="card-content">
        <i class="pi pi-building" style="font-size: 2.5rem"></i>
        <div class="card-count">
          <p class="m-0 card-title">2 BHK</p>
          {{ this.twoBhkCount }}
        </div>
      </div>
    </div>

    <div pRipple class="card shadow-3">
      <div class="card-background"></div>
      <div class="card-content">
        <i class="pi pi-building" style="font-size: 2.5rem"></i>
        <div class="card-count">
          <p class="m-0 card-title">3 BHK</p>
          {{ this.threeBhkCount }}
        </div>
      </div>
    </div>

    <div pRipple class="card shadow-3">
      <div class="card-background"></div>
      <div class="card-content">
        <i class="pi pi-home" style="font-size: 2.5rem"></i>
        <div class="card-count">
          <p class="m-0 card-title">Shops</p>
          {{ this.shopsCount }}
        </div>
      </div>
    </div>
  </div>

  <div class="barchart-container">
    <div echarts [options]="barChartOptions" class="bar-chart"></div>
  </div>

  <div class="piechart-container">
    <div echarts [options]="pieChartOptions" class="pie-chart"></div>
  </div>
</div>
